    <!-- Navbar -->
<app-header (elementCreated)="onElementCreated($event)" (sendSearch)="onSubmtitSearch($event)"></app-header>
    <!-- End Navbar -->

    <!-- Main -->
    <main id="main">

      <!-- Carousel -->
      <section id="carousel">
        <app-carrosel (elementCreated)="onElementCreated($event)"></app-carrosel>
      </section>
      <!-- End Carousel -->

      <!-- Features -->
      <section id="features" class="my-5">
        <app-destaques [destaqueData]="data.features" (featureCreated)="onFeatureCreated($event)"></app-destaques>
      </section>
      <!-- End Features -->

      <!-- About -->
      <section id="about" class="my-5">
        <app-sobre-empresa [aboutData]="data.about" (elementCreated)="onElementCreated($event)"></app-sobre-empresa>
      </section>
      <!-- End About -->

      <!-- Address -->
      <section id="address" class="my-5">
        <app-endereco [addressData]="data.address" (addressCreated)="onAddressCreated($event)"></app-endereco>
      </section>
      <!-- End Address -->

      <!-- Contact -->
      <section id="contact" class="my-5">
        <app-contato (sendForm)="onContactFormSubitted($event)"></app-contato>
      </section>
      <!-- End Contact -->

      <app-button (elementCreated)="onElementCreated($event)" ></app-button>
    </main>
    <!-- End Main -->

    <!-- Footer -->
    <app-footer [footerData]="data.footer" (elementCreated)="onElementCreated($event)"></app-footer>
    <!-- End Footer -->


    <script src="./assets/bootstrap/js/bootstrap.min.js"></script>
